body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 20px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
    padding-left: auto;
    margin-right: auto;
    margin: auto;


  }
  .card {
      background-color: rgb(85, 83, 83);
      border: black;
      padding: 40px;;
  }
 .card-title{
        text-align: center;
        text-decoration: solid;
        text-size-adjust: 54px;
        border: 2pt;

 }
 .h1{
  text-align: center;
  text-size-adjust:40px;
 }
 .btn{
  color: white;
  background-color: rgb(9, 71, 158);
  margin: auto;
  padding: auto;
 }
 .logo{
  height: 50pt;
  padding: 10pt;
 }
